<div fxLayout="row wrap" style="background: #18191a;" fxLayoutAlign="start stretch" [fxShow]="true" [fxHide]="false" fxFill>
  <div fxLayout="column wrap" fxFlex="100" fxLayoutAlign="start stretch" [fxShow]="true" [fxHide]="false">
    <div fxLayout="row wrap" style="background: #242526; height:53px; border-bottom: 1.5px solid #2e2f30;" fxLayoutAlign="space-between center" [fxShow]="true" [fxHide]="false">
      <div fxLayout="column wrap" class="parentContainer" fxFlex="24" fxLayoutAlign="start stretch" [fxShow]="true" [fxHide]="false">
        <div fxLayout="row wrap" class="parentContainer" fxLayoutGap="1px" fxLayoutAlign="space-evenly center" [fxShow]="true" [fxHide]="false"><img imgSrc="/Web/Icons/fac.svg" style="height: 41px;">
          <mat-form-field style="text-align: center;" class="whiteColor header" [appearance]="&apos;standard&apos;" [floatLabel]="&apos;auto&apos;" [hideRequiredMarker]="false">
            <input matInput type="text" placeholder="Search Facebook" [required]="false">
            <mat-icon matPrefix>search</mat-icon>
          </mat-form-field>
        </div>
      </div>
      <div fxLayout="column wrap" fxFlex="40" fxLayoutAlign="start stretch" [fxShow]="true" [fxHide]="false">
        <div fxLayout="row wrap" fxFlex="100" fxLayoutGap="12px" fxLayoutAlign="space-between center" [fxShow]="true" [fxHide]="false">
          <mat-icon style="color:#2d88ff; border-bottom: 3px solid #2d88ff;">home</mat-icon>
          <mat-icon class="whiteColor">people_alt</mat-icon>
          <mat-icon class="whiteColor">ondemand_video</mat-icon>
          <mat-icon class="whiteColor">storefront</mat-icon>
          <mat-icon class="whiteColor">groups</mat-icon>
        </div>
      </div>
      <div fxLayout="column wrap" fxFlex="30" fxLayoutAlign="end stretch" [fxShow]="true" [fxHide]="false">
        <div fxLayout="row wrap" style="padding: 15px;" fxLayoutAlign="space-between center" [fxShow]="true" [fxHide]="false">
          <div fxLayout="row wrap" fxLayoutGap="4px" fxLayoutAlign="start stretch" [fxShow]="true" [fxHide]="false"><img imgSrc="/Web/Icons/prom.jpg" style="height: 28px;     width: 28px;" class="radius50percent circleImg">
            <div class="nameContainer">
              Promise</div>
          </div>
          <mat-icon class="whiteColor radius50percent icon">add</mat-icon>
          <mat-icon class="whiteColor radius50percent icon">maps_ugc</mat-icon>
          <mat-icon class="whiteColor radius50percent icon">notifications</mat-icon>
          <mat-icon class="whiteColor radius50percent icon">arrow_drop_down</mat-icon>
        </div>
      </div>
    </div>
    <div fxLayout="row wrap" style="height: calc(100vh - 53px);" fxLayoutAlign="space-between start" [fxShow]="true" [fxHide]="false">
      <div fxLayout="column wrap" style="height: 100%;" class="firstColumnScroller" fxFlex="22" fxLayoutGap="25px" fxLayoutAlign="start stretch" [fxShow]="true" [fxHide]="false">
        <div fxLayout="row wrap" fxLayoutGap="12px" fxLayoutAlign="space-evenly stretch" [fxShow]="true" [fxHide]="false"><img imgSrc="/Web/Icons/prom.jpg" class="mainPic mainImgs">
          <div class="textName mainText">
            Promise Ntshalazi</div>
        </div>
        <div fxLayout="row wrap" fxLayoutGap="12px" fxLayoutAlign="space-evenly stretch" [fxShow]="true" [fxHide]="false" *ngFor="let sideMenu of sideMenuZ"><img [src]="sideMenu.imagePath" class="mainImgs">
          <div class="mainText">
            {{sideMenu.text}}
          </div>
        </div>
        <div fxLayout="row wrap" style="border-bottom: 1.5px solid #2e2f30;" fxLayoutGap="12px" fxLayoutAlign="space-evenly stretch" [fxShow]="true" [fxHide]="false">
          <mat-icon class="mainImg mainImgs">expand_more</mat-icon>
          <div class="mainText">
            See More</div>
        </div>
        <div class="shortcutsCotainer">
          Your Shortcuts</div>
        <div fxLayout="row wrap" fxLayoutGap="12px" fxLayoutAlign="space-evenly stretch" [fxShow]="true" [fxHide]="false"><img imgSrc="/Web/Icons/peeps.png" class="mainPic mainImgs">
          <div class="textName mainText">
            Joburg Factory </div>
        </div>
      </div>
      <div fxLayout="column wrap" style="height: 100%;" class="relative" fxFlex="42" fxLayoutGap="13px" fxLayoutAlign="start stretch" [fxShow]="true" [fxHide]="false">
        <div fxLayout="row wrap" fxLayoutAlign="space-between stretch" [fxShow]="true" [fxHide]="false">
          <div fxLayout="column wrap" class="relative" fxFlex="16" fxLayoutAlign="start stretch" [fxShow]="true" [fxHide]="false"><img imgSrc="/Web/Icons/mino.jpg" class="imgLightContainer minoContainer">
            <div class="txtIconContainer">
              <div class="createStory backgroundDark">
                <div class="backgroundblue">
                  <mat-icon class="txtIcon">add</mat-icon>
                </div>
              </div>
              <div class="childContainer">
                Create Story</div>
            </div>
          </div>
          <div fxLayout="column wrap" class="relative" fxFlex="16" fxLayoutAlign="start stretch" [fxShow]="true" [fxHide]="false" *ngFor="let centerImage of centerImages"><img [src]="centerImage.facebImg" class="minoContainer"><img [src]="centerImage.facebImg1" class="smaContainer"><span class="jaylenContainer">
            {{centerImage.text}}</span></div>
        </div>
        <div fxLayout="row wrap" class="borderContainer" fxLayoutAlign="space-between stretch" [fxShow]="true" [fxHide]="false">
          <div fxLayout="column wrap" fxFlex="100" fxLayoutAlign="start stretch" [fxShow]="true" [fxHide]="false">
            <div fxLayout="row wrap" class="parentContainer" fxLayoutAlign="space-between stretch" [fxShow]="true" [fxHide]="false"><img imgSrc="/Web/Icons/prom.jpg" class="mainMinosImgs">
              <mat-form-field style="text-align: center;" class="inputHeader" [appearance]="&apos;standard&apos;" [floatLabel]="&apos;auto&apos;" [hideRequiredMarker]="false">
                <input matInput type="text" placeholder="What&apos;s on your mind, Promise?" [required]="false">

              </mat-form-field>
            </div>
            <div class="bottomBorderContainer">
            </div>
            <div fxLayout="row wrap" fxLayoutAlign="space-between center" [fxShow]="true" [fxHide]="false">
              <div fxLayout="column wrap" fxFlex="29" fxLayoutAlign="center stretch" [fxShow]="true" [fxHide]="false">
                <div fxLayout="row wrap" fxFlex="100" fxLayoutGap="12px" fxLayoutAlign="center stretch" [fxShow]="true" [fxHide]="false">
                  <mat-icon style="color: #f02849;" class="fontSize">videocam</mat-icon>
                  <div class="txtSize">
                    Live Video</div>
                </div>
              </div>
              <div fxLayout="column wrap" fxFlex="29" fxLayoutAlign="center stretch" [fxShow]="true" [fxHide]="false">
                <div fxLayout="row wrap" fxFlex="100" fxLayoutGap="12px" fxLayoutAlign="center stretch" [fxShow]="true" [fxHide]="false">
                  <mat-icon style="color: #45bd62;" class="fontSize">photo_library</mat-icon>
                  <div class="txtSize">
                    Photo/Video</div>
                </div>
              </div>
              <div fxLayout="column wrap" fxFlex="29" fxLayoutAlign="center stretch" [fxShow]="true" [fxHide]="false">
                <div fxLayout="row wrap" fxFlex="100" fxLayoutGap="12px" fxLayoutAlign="center stretch" [fxShow]="true" [fxHide]="false">
                  <mat-icon style="color: #f7b928;" class="fontSize">mood</mat-icon>
                  <div class="txtSize">
                    Feelings/Activity</div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div fxLayout="row wrap" class="borderContainer" fxLayoutGap="12px" fxLayoutAlign="start stretch" [fxShow]="true" [fxHide]="false">
          <div fxLayout="row wrap" class="blueBorder" fxLayoutGap="15px" fxLayoutAlign="start stretch" [fxShow]="true" [fxHide]="false">
            <mat-icon class="videoCall">video_call</mat-icon>
            <div class="txtColor">
              Create Room</div>
          </div>
          <div fxLayout="column wrap" class="relative" fxLayoutAlign="start stretch" [fxShow]="true" [fxHide]="false"><img imgSrc="/Web/Icons/baby.jpg" class="circleImg"></div>
          <div fxLayout="column wrap" class="relative" fxLayoutAlign="start stretch" [fxShow]="true" [fxHide]="false" *ngFor="let cirleFace of cirleFaces"><img [src]="cirleFace.facebImg" class="circleImg">
            <div class="darkgreyColor">
              <div class="greenBackgroungColor">
              </div>
            </div>
          </div>
        </div>
        <div fxLayout="row wrap" class="borderContainer parentContainer" fxLayoutAlign="space-between stretch" [fxShow]="true" [fxHide]="false">
          <div fxLayout="column wrap" fxFlex="100" fxLayoutGap="5px" fxLayoutAlign="start stretch" [fxShow]="true" [fxHide]="false">
            <div fxLayout="row wrap" fxLayoutAlign="space-between center" [fxShow]="true" [fxHide]="false"><img imgSrc="/Web/Icons/indian.jpg" class="mainMinosImgs">
              <div fxLayout="column wrap" fxFlex="91" fxLayoutAlign="start stretch" [fxShow]="true" [fxHide]="false">
                <div fxLayout="row wrap" fxLayoutAlign="space-between center" [fxShow]="true" [fxHide]="false">
                  <div fxLayout="column wrap" fxLayoutAlign="start stretch" [fxShow]="true" [fxHide]="false">
                    <div fxLayout="row wrap" fxLayoutAlign="start stretch" [fxShow]="true" [fxHide]="false">
                      <div class="textCotianer">
                        Ridwan Sandra</div>
                      <mat-icon class="iconColor">arrow_right</mat-icon>
                      <div class="textCotianer">
                        Roodepoort Snuffelgids</div>
                    </div>
                  </div>
                  <div fxLayout="column wrap" fxLayoutAlign="start stretch" [fxShow]="true" [fxHide]="false">
                    <mat-icon style="color: #b1b1b1;">linear_scale</mat-icon>
                  </div>
                </div>
                <div style="color: #b1b1b1;  font-size: 12px;">
                  22h .<mat-icon class="iconPosition">groups</mat-icon>
                </div>
              </div>
            </div>
            <div fxLayout="row wrap" fxLayoutAlign="start stretch" [fxShow]="true" [fxHide]="false">
              <div style="color: #E4E6EB;">
                I can&apos;t promise to make you a billionaire but I teach how you can work from home and earn AED10,500 in 1day and AED75,400 , in 3days No scam No reference needed No Registration fee needed ASK ME HOW ?</div>
            </div>
          </div>
        </div><img imgSrc="/Web/Icons/cloud.jpg" class="positionImg picContainer">
      </div>
      <div fxLayout="column wrap" fxFlex="28" fxLayoutGap="13px" fxLayoutAlign="start stretch" [fxShow]="true" [fxHide]="false">
        <div fxLayout="row wrap" fxLayoutAlign="start stretch" [fxShow]="true" [fxHide]="false">
          <div class="marginTopContainer">
            Sponsored</div>
        </div>
        <div fxLayout="row wrap" fxLayoutAlign="none center" [fxShow]="true" [fxHide]="false">
          <div fxLayout="column wrap" fxFlex="34" fxLayoutAlign="start stretch" [fxShow]="true" [fxHide]="false"><img imgSrc="/Web/Icons/light.jpg" style="width: 72%;" class="imgLightContainer"></div>
          <div fxLayout="column wrap" fxFlex="64" fxLayoutAlign="start stretch" [fxShow]="true" [fxHide]="false">
            <div class="textWidth">
              *** Pack of 4** 300W Solar Street Lamp With Motion Sensor &amp; Day/Night Sensor (R1699 each)</div>
          </div>
        </div>
        <div class="padding bottomBorderContainer">
        </div>
        <div fxLayout="row wrap" fxLayoutAlign="space-between center" [fxShow]="true" [fxHide]="false">
          <div fxLayout="column wrap" fxFlex="23" fxLayoutAlign="start stretch" [fxShow]="true" [fxHide]="false">
            <div class="marginTxtContainer">
              Contacts</div>
          </div>
          <div fxLayout="column wrap" fxFlex="32" fxLayoutAlign="start stretch" [fxShow]="true" [fxHide]="false">
            <div fxLayout="row wrap" class="padding" fxFlex="100" fxLayoutAlign="space-between center" [fxShow]="true" [fxHide]="false">
              <mat-icon class="textWidth">video_call</mat-icon>
              <mat-icon class="textWidth">search</mat-icon>
              <mat-icon class="textWidth">linear_scale</mat-icon>
            </div>
          </div>
        </div>
        <div fxLayout="row wrap" fxLayoutGap="12px" fxLayoutAlign="space-evenly stretch" [fxShow]="true" [fxHide]="false" *ngFor="let sideMenu of imagesPerson">
          <div fxLayout="column wrap" class="relative" fxLayoutAlign="start stretch" [fxShow]="true" [fxHide]="false"><img [src]="sideMenu.imagePath" class="imgContainer">
            <div class="darkgreyColor">
              <div class="greenBackgroungColor">
              </div>
            </div>
          </div>
          <div class="marginBottom mainText">
            {{sideMenu.text}}
          </div>
        </div>
      </div>
    </div>
  </div>
</div>